<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.postnlwerktijdensalaris">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.MonthsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DaysActivity">
        </activity>
        <activity android:name=".activities.WalksActivity">
        </activity>
        <activity android:name=".activities.AddWalkActivity">
        </activity>
        <activity android:name=".activities.SettingsActivity">
        </activity>
        <activity android:name=".activities.ContractAndSalaryActivity">
        </activity>
        <activity android:name=".activities.DistrictsActivity">
        </activity>
        <activity android:name=".activities.AddDistrictActivity">
        </activity>
    </application>

</manifest>
